<!doctype html>
<html lang="en" ng-app='movieSearch'>
<head>
  <meta charset="UTF-8">
  <title>Movie Search</title>
  <!-- styles -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="./css/main.css" rel="stylesheet" media="screen">
</head>
  <body>
    <div class="container">
      <div class="jumbotron" ng-controller="myController" ng-model="initialText">
        <h1 class="page-header">Angular OMDb API Search</h1>
        <br>
        <h3>Enter a movie by title.</h3>
        <input type="text" ng-model="title"></p>
        <button ng-click="search(title)">Submit</button>
      </div>
    </div>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular-route.min.js"></script>
    <script src="./js/app.js" type="text/javascript"></script>
    <script src="./js/routes.js" type="text/javascript"></script>
    <script src="./js/controllers.js" type="text/javascript"></script>
    <script src="./js/directives.js" type="text/javascript"></script>
    <script src="./js/filters.js" type="text/javascript"></script>
    <script src="./js/services.js" type="text/javascript"></script>
  </body>
</html>